
.conteiner {
    display: flex;
    width: 800px;
    padding: 24px;
    margin-left: 24.5%;
    flex-direction: column;
    align-items: center;

    border-radius: 24px;
    background-color: #F0E8C2;
}
.lista {
    display: flex;
    padding: 0px 24px 24px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

h2, h3 {
    font-family: "Alice", serif;
     font-weight: 400;
    font-size: 24px;
    color: #000000;
}
p {
    font-family: "Alice", serif;
     font-weight: 400;
    color: #000000;
    font-size: 16px;
}

h1 {
    color: var(--text-color-primary, #291B1A);
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'liga' off, 'clig' off;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: var(--colors-base-black, #000);
    font-family: Alice;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 56px */
}
img {
    height: 420px;
    margin-left: 8px;
    border-radius: 20px;
}
body {
    background-image: url(assets/bg-image.png);
    background-size: cover;
}
footer {
    color: #917a08;
    margin-top: 24px;
    text-align: center;
    margin-right: 130px;
}